@use '../abstract/bundle' as *;

.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  background-color: $lavender-blush;
  border-radius: 0.5rem;
  padding: 1rem;

  h2, p {
    color: $smoky-black;
  }
}