@use '../abstract/bundle' as *;

.card {
  @include border-radius;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  background-color: $card-background;
  margin: auto;

  p {
    color: $color-text;
  }

  h2 {
    margin-block: 0;
  }
}

.card__title {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 25%;
    height: 3px;
    background-color: $smoky-black;
    border-radius: 2px;
  }
}