@use '../abstract/bundle' as *;

html {
  font-size: 100%;
  font-family: 'Oxygen', sans-serif;
  overflow: hidden;
}

body {
  background-color: $body-background-color;
  max-width: 1400px;
  margin: auto;
}

.page-content-wrapper {
  margin: 1rem;
}
