@use '../abstract/bundle' as *;

html {
  font-size: 100%;
  font-family: 'Oxygen', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: $body-background-color;
  max-width: 1400px;
  margin: auto;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content-wrapper {
  flex-grow: 1;
  margin: 1rem;
}

header, footer {
  color: $color-text-light;
}

ul {
  @include flex-center;
  list-style: none;
  gap: 1rem;
}