@use '../abstract/bundle' as *;

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p, a, span {
  font-size: 1.2rem;
  color: $color-text-light;
  margin: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: $color-title;
}