@use '../abstract/bundle' as *;

header {
  @include flex-center;
  background-color: $header-footer-background;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  nav {
    flex: 1;
  }
}