@use '../abstract/bundle' as *;

h1, h2, h3, h4, p, span, a {
  color: $font-color;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p, a, span {
  font-size: 1.2rem;
}

a {
  font-weight: 700;
  text-decoration: none;
}