$mocha-mousse: #A47864;
$steel-blue: #3581b8ff;
$shamrock-green: #399e5aff;
$amaranth-purple: #aa1155ff;
$bistre: #3f220fff;
$smoky-black: #151010;
$lavender-blush: #fcefefff;
$header-background: $bistre;
$body-background-color: $smoky-black;
$font-color: $lavender-blush;